<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>chart js demo</title>
    <link href="bower_components/bootstrap-css-only/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body ng-app="chart-demo" ng-controller="ChartCtrl">

<div class="container">
    <div class="btn-control">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="stop();">stop</button>
            <button type="button" class="btn btn-default" ng-click="restart();">restart</button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="setInterval(700);">700ms</button>
            <button type="button" class="btn btn-default" ng-click="setInterval(1200);">1200ms</button>
            <button type="button" class="btn btn-default" ng-click="setInterval(1500);">1500ms</button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="setMaxItemsCount(10);">10b</button>
            <button type="button" class="btn btn-default" ng-click="setMaxItemsCount(20);">20b</button>
            <button type="button" class="btn btn-default" ng-click="setMaxItemsCount(50);">50b</button>
        </div>
    </div>
    <highchart config="chartConfig" class="chart img-responsive"></highchart>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/highcharts/highcharts.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/highcharts-ng/dist/highcharts-ng.min.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>

<script src="js/angular-config.js"></script>
<script src="js/services/chartConfigService.js"></script>
<script src="js/controllers/chart.js"></script>
</body>
</html>
